{% extends 'layouts/base.html' %}

{% block content %}

<h1> about </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla exercitationem voluptas sit dignissimos veritatis porro. Rem voluptates laudantium facere facilis quisquam ab necessitatibus, suscipit hic, quas repellat obcaecati autem doloremque debitis tempore, veritatis quo odit error! Repudiandae saepe tempore quos, rem iure provident vel laboriosam odio ad at culpa nam labore deserunt id non dicta dolorum ducimus libero porro excepturi! Cumque delectus sequi sit nemo consectetur, iusto facilis nam dolorem nisi dicta odio laborum ab optio, sint molestiae, quis sed esse! Maxime dignissimos consectetur, adipisci in earum exercitationem velit sunt ipsam nemo error illum repellendus mollitia, dicta blanditiis! Maxime, tempore.</p>

    <p>Website created by {{username}}</p>>

{% endblock %}